<!-- section content begin -->
<div class="uk-section uk-padding-remove-bottom in-offset-bottom-40 in-profit-4">
    <div class="uk-container uk-margin-top">
        <div class="uk-grid uk-flex uk-flex-center" data-uk-grid>
            <div class="uk-width-5-6@m">
                <div class="uk-grid uk-flex-middle" data-uk-grid>
                    <div class="uk-width-expand@m">
                        <h2>Connect to global capital markets</h2>
                    </div>
                    <div class="uk-width-3-5@m">
                        <p class="uk-text-lead">Access 40,000+ trading instruments and professional asset management on award-winning platforms.</p>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-1">
                <div class="uk-child-width-1-2@s uk-child-width-1-5@m in-profit-stockprice" data-uk-grid>
                    <div>
                        <div class="uk-card uk-card-body uk-card-small uk-card-default uk-border-pill">
                            <span class="uk-float-left">
                                <img src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-profit-ticker-1.svg" alt="profit-ticker" width="77" height="20" data-uk-img>
                            </span>
                            <span class="uk-float-right down">
                                <i class="fas fa-arrow-down"></i>1,526.05
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-body uk-card-small uk-card-default uk-border-pill">
                            <span class="uk-float-left">
                                <img src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-profit-ticker-2.svg" alt="profit-ticker" width="77" height="20" data-uk-img>
                            </span>
                            <span class="uk-float-right down">
                                <i class="fas fa-arrow-down"></i>205.37
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-body uk-card-small uk-card-default uk-border-pill">
                            <span class="uk-float-left">
                                <img src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-profit-ticker-3.svg" alt="profit-ticker" width="77" height="20" data-uk-img>
                            </span>
                            <span class="uk-float-right down">
                                <i class="fas fa-arrow-down"></i>267.97
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-body uk-card-small uk-card-default uk-border-pill">
                            <span class="uk-float-left">
                                <img src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-profit-ticker-4.svg" alt="profit-ticker" width="77" height="20" data-uk-img>
                            </span>
                            <span class="uk-float-right up">
                                <i class="fas fa-arrow-up"></i>59,230
                            </span>
                        </div>
                    </div>
                    <div class="uk-visible@m">
                        <div class="uk-card uk-card-body uk-card-small uk-card-default uk-border-pill">
                            <span class="uk-float-left">
                                <img src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-profit-ticker-5.svg" alt="profit-ticker" width="77" height="20" data-uk-img>
                            </span>
                            <span class="uk-float-right up">
                                <i class="fas fa-arrow-up"></i>78.98
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-5-6@m uk-margin-medium-bottom">
                <div class="uk-grid-large uk-flex-middle" data-uk-grid>
                    <div class="uk-width-auto@m">
                        <h4 class="uk-margin-remove-bottom uk-text-primary">Ready to trade?</h4>
                        <p class="uk-margin-remove-top">Get started with your trading account today.</p>
                    </div>
                    <div class="uk-width-expand@m">
                        <form class="uk-grid-small" data-uk-grid>
                            <div class="uk-width-1-1 uk-width-expand@m">
                                <input class="uk-input uk-border-rounded" type="text" placeholder="Email address...">
                            </div>
                            <div class="uk-width-1-1 uk-width-expand@m">
                                <input class="uk-input uk-border-rounded" type="text" placeholder="Phone number...">
                            </div>
                            <div class="uk-width-1-1 uk-width-auto@m">
                                <button class="uk-button uk-button-primary uk-border-rounded uk-width-expand">Open Account</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-1 uk-margin-medium-top">
                <div class="trustpilot-widget" data-locale="en-GB" data-template-id="5406e65db0d04a09e042d5fc" data-businessunit-id="561d886b0000ff0005844fd6" data-style-height="28px" data-style-width="100%" data-theme="light">
                    <a href="https://uk.trustpilot.com/review/pepperstone.com" target="_blank" rel="noopener noreferrer">Trustpilot</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->