<!-- section content begin -->
<div class="uk-section uk-padding-large uk-background-contain uk-background-bottom-center in-padding-large-vertical@s in-offset-top-40 in-profit-14" data-src="{{root}}img/in-section-profit-14.jpg" data-uk-img>
    <div class="uk-container uk-margin-bottom">
        <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-text-center" data-uk-grid>
            <div class="uk-width-1-1">
                <h2>What can you trade with Profit Inc?</h2>
            </div>
            <div>
                <img src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-profit-icon-7.svg" alt="profit-icon" width="86" height="86" data-uk-img>
                <h4 class="uk-heading-bullet uk-margin-top">Forex</h4>
                <p>Quis autem eum iure reprehenderit humea voluptate velit esse.</p>
                <a class="uk-text-uppercase uk-text-small" href="#">View full list<i class="fas fa-caret-square-right uk-margin-small-left"></i></a>
            </div>
            <div>
                <img src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-profit-icon-8.svg" alt="profit-icon" width="86" height="86" data-uk-img>
                <h4 class="uk-heading-bullet uk-margin-top">Shares</h4>
                <p>Quis autem eum iure reprehenderit humea voluptate velit esse.</p>
                <a class="uk-text-uppercase uk-text-small" href="#">View full list<i class="fas fa-caret-square-right uk-margin-small-left"></i></a>
            </div>
            <div>
                <img src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-profit-icon-9.svg" alt="profit-icon" width="86" height="86" data-uk-img>
                <h4 class="uk-heading-bullet uk-margin-top">Indices</h4>
                <p>Quis autem eum iure reprehenderit humea voluptate velit esse.</p>
                <a class="uk-text-uppercase uk-text-small" href="#">View full list<i class="fas fa-caret-square-right uk-margin-small-left"></i></a>
            </div>
            <div>
                <img src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-profit-icon-10.svg" alt="profit-icon" width="86" height="86" data-uk-img>
                <h4 class="uk-heading-bullet uk-margin-top">Commodities</h4>
                <p>Quis autem eum iure reprehenderit humea voluptate velit esse.</p>
                <a class="uk-text-uppercase uk-text-small" href="#">View full list<i class="fas fa-caret-square-right uk-margin-small-left"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->