<!-- section content begin -->
<div class="uk-section uk-padding-large in-padding-large-vertical@s in-profit-16">
    <div class="uk-container uk-margin-small-bottom">
        <div class="uk-grid-divider" data-uk-grid>
            <div class="uk-width-auto@m">
                <h4 class="uk-margin-remove-bottom uk-margin-right">Funding & withdrawals</h4>
                <p class="uk-text-muted uk-margin-remove-top">No deposit fee*</p>
            </div>
            <div class="uk-width-expand@m">
                <div class="uk-grid-medium uk-child-width-1-2 uk-child-width-1-5@m uk-text-center in-client-logo-3" data-uk-grid>
                    <div class="uk-tile uk-tile-default">
                        <img src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-profit-payment-1.svg" alt="payment-logo" width="172" height="57" data-uk-img>
                    </div>
                    <div class="uk-tile uk-tile-default">
                        <img src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-profit-payment-2.svg" alt="payment-logo" width="172" height="57" data-uk-img> 
                    </div>
                    <div class="uk-tile uk-tile-default">
                        <img src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-profit-payment-3.svg" alt="payment-logo" width="172" height="57" data-uk-img> 
                    </div>
                    <div class="uk-tile uk-tile-default">
                        <img src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-profit-payment-4.svg" alt="payment-logo" width="172" height="57" data-uk-img> 
                    </div>
                    <div class="uk-tile uk-tile-default uk-visible@m">
                        <img src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-profit-payment-5.svg" alt="payment-logo" width="172" height="57" data-uk-img> 
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-grid uk-flex uk-flex-center" data-uk-grid>
            <div class="uk-width-3-4@m">
                <div class="in-create-account uk-text-center uk-margin-top">
                    <span class="uk-label uk-text-small uk-text-uppercase uk-border-rounded uk-margin-small-bottom">Open your account</span>
                    <p class="uk-text-lead uk-margin-remove-top uk-visible@m">Connect with over 5 millions investors in the world’s leading investment network</p>
                    <form class="uk-grid-small" data-uk-grid>
                        <div class="uk-width-1-1 uk-width-1-4@m">
                            <input class="uk-input uk-border-rounded" type="text" placeholder="Full name">
                        </div>
                        <div class="uk-width-1-1 uk-width-1-4@m">
                            <input class="uk-input uk-border-rounded" type="text" placeholder="Email address">
                        </div>
                        <div class="uk-width-1-1 uk-width-1-4@m">
                            <input class="uk-input uk-border-rounded" type="text" placeholder="Phone number">
                        </div>
                        <div class="uk-width-1-1 uk-width-1-4@m">
                            <button class="uk-button uk-button-primary uk-border-rounded uk-width-expand">Create Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->