<!-- section content begin -->
<div class="uk-section uk-padding-large in-padding-large-vertical@s uk-background-contain in-profit-2" data-src="{{root}}img/in-profit-decor-3.svg" data-uk-img>
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-1-2@m uk-text-center">
                <h2>Experience more than Trading.</h2>
                <p class="uk-text-lead">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse nihil molestiae consequatu vel illum qui dolorem.</p>
                <i class="fas fa-chevron-down uk-text-primary"></i>
            </div>
            <div class="uk-width-5-6@m">
                <div class="uk-child-width-1-2@s uk-child-width-1-2@m uk-margin-medium-top" data-uk-grid>
                    <div>
                        <div class="in-pricing-1">
                            <div class="uk-card uk-card-default uk-box-shadow-medium">
                                <div class="uk-card-media-top">
                                    <img class="uk-width-1-1 uk-align-center" src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-profit-content-1.jpg" width="460" height="368" alt="sample-image" data-uk-img>
                                  	<span></span>
                                </div>
                                <div class="uk-card-body">
                                    <div class="in-heading-extra in-card-decor-1">
                                        <h2 class="uk-margin-remove-bottom">Economic</h2>
                                        <p class="uk-text-lead">Analysis</p>
                                    </div>
                                    <p class="uk-margin-small-top">Stay ahead of the markets with world-leading market analysis through daily webinars by industry experts.</p>
                                    <div class="uk-margin-medium-top">
                                        <a class="uk-button uk-button-link uk-text-uppercase uk-text-small" href="#">Read analysis<i class="fas fa-caret-square-right uk-margin-small-left"></i></a>
                                        <span class="uk-label uk-border-pill uk-align-right">Weekly Update</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="in-pricing-1">
                            <div class="uk-card uk-card-default uk-box-shadow-medium">
                                <div class="uk-card-media-top">
                                    <img class="uk-width-1-1 uk-align-center" src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-profit-content-2.jpg" width="460" height="368" alt="sample-image" data-uk-img>
                                  	<span></span>
                                </div>
                                <div class="uk-card-body">
                                    <div class="in-heading-extra in-card-decor-2">
                                        <h2 class="uk-margin-remove-bottom">Technical</h2>
                                        <p class="uk-text-lead">Analysis</p>
                                    </div>
                                    <p class="uk-margin-small-top">Access the financial markets with an account catered to your needs and benefit from good conditions.</p>
                                    <div class="uk-margin-medium-top">
                                        <a class="uk-button uk-button-link uk-text-uppercase uk-text-small" href="#">Read analysis<i class="fas fa-caret-square-right uk-margin-small-left"></i></a>
                                        <span class="uk-label uk-border-pill uk-align-right">Daily Update</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default uk-card-body in-profit-appcard">
                            <div class="uk-child-width-1-2@m" data-uk-grid>
                                <div>
                                    <div class="uk-flex" data-uk-margin>
                                        <a href="#" class="uk-button in-button-app uk-margin-small-right">
                                            <i class="fab fa-google-play fa-2x"></i>
                                            <span class="wrapper">Download from<br><span>Play Store</span></span>
                                        </a>
                                        <a href="#" class="uk-button in-button-app">
                                            <i class="fab fa-apple fa-2x"></i>
                                            <span class="wrapper">Download from<br><span>App Store</span></span>
                                        </a>
                                    </div>
                                    <hr>
                                    <p>Trade on <span class="uk-text-bold uk-text-primary">world class platform</span> without a doubt.</p>
                                </div>
                                <div class="uk-visible@m">
                                    <img src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-profit-mockup-1.png" width="450" height="203" alt="profit-mockup" data-uk-img>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-grid uk-grid-divider uk-grid-match in-profit-tradestatus" data-uk-grid>
                            <div class="uk-width-1-1 uk-width-auto@m">
                                <div class="uk-flex uk-flex-left uk-flex-center@m">
                                    <div class="uk-grid uk-grid-small uk-flex-middle">
                                        <div class="uk-width-auto">
                                            <div class="in-icon-wrap circle primary-color">
                                                <i class="fas fa-chart-line fa-2x"></i>
                                            </div>
                                        </div>
                                        <div class="uk-width-expand">
                                            <h1 class="uk-margin-remove-bottom">324,978,126</h1>
                                            <p class="uk-text-uppercase uk-text-primary uk-text-small uk-margin-remove-top">Trades Opened at Profit</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-1-1 uk-width-expand@m uk-flex-middle">
                                <p class="uk-text-lead">Trade & Invest in Stocks, Currencies, Indices, and Commodities (CFDs).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->