<!-- section content begin -->
<div class="uk-section uk-padding-large in-padding-large-vertical@s in-profit-5">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center" data-uk-grid>
            <div class="uk-width-5-6@m in-margin-top-20@s">
                <div class="uk-child-width-1-2@s uk-child-width-1-5@m uk-text-center" data-uk-grid>
                    <div>
                        <img src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-profit-icon-1.svg" alt="profit-icon" width="86" height="86" data-uk-img>
                        <p class="uk-text-bold uk-margin-small-top">Wide Range of Trading Instruments</p>
                    </div>
                    <div>
                        <img src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-profit-icon-2.svg" alt="profit-icon" width="86" height="86" data-uk-img>
                        <p class="uk-text-bold uk-margin-small-top">Unparalleled Trading Conditions</p>
                    </div>
                    <div>
                        <img src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-profit-icon-3.svg" alt="profit-icon" width="86" height="86" data-uk-img>
                        <p class="uk-text-bold uk-margin-small-top">Globally Licensed & Regulated</p>
                    </div>
                    <div>
                        <img src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-profit-icon-4.svg" alt="profit-icon" width="86" height="86" data-uk-img>
                        <p class="uk-text-bold uk-margin-small-top">Committed to Forex Education</p>
                    </div>
                    <div class="uk-visible@m">
                        <img src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-profit-icon-5.svg" alt="profit-icon" width="86" height="86" data-uk-img>
                        <p class="uk-text-bold uk-margin-small-top">Regular Contests & Promotions</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-margin-large-top uk-margin-bottom" data-uk-grid>
            <div>
                <div class="in-pricing-1">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-header">
                            <div class="uk-card-badge">
                                <div class="in-icon-wrap circle primary-color">
                                    <i class="fas fa-graduation-cap fa-2x"></i>
                                </div>
                            </div>
                            <h3 class="uk-margin-remove-bottom">Learn</h3>
                            <p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-remove-top">knowledge to get started</p>
                        </div>
                        <div class="uk-card-body">
                            <ul class="uk-list in-list-check uk-margin-bottom">
                                <li>FREE Demo Account</li>
                                <li>Step-by step tutorials & articles</li>
                                <li>Online webinars & local seminars</li>
                                <li>Your own Account Manager</li>
                            </ul>
                            <a href="#" class="uk-button uk-button-secondary uk-border-rounded uk-margin-small-top">Open Demo Account</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="in-pricing-1">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-header">
                            <div class="uk-card-badge">
                                <div class="in-icon-wrap circle primary-color">
                                    <i class="fas fa-chart-area fa-2x"></i>
                                </div>
                            </div>
                            <h3 class="uk-margin-remove-bottom">Trade</h3>
                            <p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-remove-top">take your first profit</p>
                        </div>
                        <div class="uk-card-body">
                            <ul class="uk-list in-list-check uk-margin-bottom">
                                <li>Tight spreads</li>
                                <li>Superfast trade execution</li>
                                <li>Hi-tech forex trading tools</li>
                                <li>Ultimate risk protection & security</li>
                            </ul>
                            <a href="#" class="uk-button uk-button-secondary uk-border-rounded uk-margin-small-top">Open Real Account</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="in-pricing-1 uk-visible@m">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-header">
                            <div class="uk-card-badge">
                                <div class="in-icon-wrap circle primary-color">
                                    <i class="fas fa-chart-pie fa-2x"></i>
                                </div>
                            </div>
                            <h3 class="uk-margin-remove-bottom">Invest</h3>
                            <p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-remove-top">choose the best portfolio</p>
                        </div>
                        <div class="uk-card-body">
                            <ul class="uk-list in-list-check uk-margin-bottom">
                                <li>No need to be an experienced</li>
                                <li>Large number of strategies</li>
                                <li>Profit whenever Managers earn</li>
                                <li>Full control of your Investment</li>
                            </ul>
                            <a href="#" class="uk-button uk-button-secondary uk-border-rounded uk-margin-small-top">Start following</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->